<hr/>
<div class="page-end">
    <!--<div class="backlinks-container">
        {{partial "backlinks.html" .}}
    </div>-->
    <div>
        {{partial "graph.html" .}}
    </div>
</div>

<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
      <!--- <iframe src="https://discord.com/widget?id=907407120322945084&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> --->
        <p>Made by {{ $.Site.Data.config.name }} with the help of {{ $.Site.Data.config.Credit }} using <a href="https://github.com/jackyzha0/quartz">Quartz</a>, © {{ dateFormat "2006" now }}</p>
        {{ if not .IsHome }}
        <a href="/">Home</a>
        {{end}}
        {{- range $.Site.Data.config.links -}}
        <a href="{{.link}}">{{.link_name}}</a>
        {{- end -}}
    </footer>
</div>
