{{define "head"}}
{{ partial "head.html" . }}
{{end}}

{{define "main"}}
<!-- Main Page -->
<div class="singlePage">
    {{partial "darkmode.html" .}}
    {{.Content}}

    <!-- Contact Info -->
    <div>
        {{partial "footer.html" .}}
        <div class="page-end">
          <iframe src="https://discord.com/widget?id=907407120322945084&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

            <div class="backlinks-container">
                <!-- {{partial "backlinks.html" .}} -->
            </div>
            <div>
                {{partial "graph.html" .}}


            </div>
        </div>

    </div>
</div>
{{end}}
